  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <h1><%=nombrePagina %></h1>
      <hr>

      <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-home" aria-selected="true">Estrategias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
            aria-controls="pills-profile" aria-selected="false">Otro</a>
        </li>
      </ul>

      <hr>
      <div class="container">
        <div class="row">
          <div class="col-12 my-2">
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="listado-estrategias">
                  <% if(estrategias.length) { %>
                  <h2>Estrategias</h2>
                  <ul class="list-group">
                    <% estrategias.forEach(estrategia => { %>
                    <li class="list-group-item">
                      <div class="">
                        <h3><%=estrategia.nombre %></h3>
                      </div>
                      <div class="float-right">
                        <a href="" data-id="<%=estrategia.id %>" data-toggle="modal" data-target=".bd-example-modal-lg"
                          class="btn btn-primary">Editar</a>
                        <a href="/imagen-estrategia/<%=estrategia.id%>" class="btn btn-warning">Imagen</a>
                        <a href="" data-id="<%=estrategia.id%>"
                          class="eliminar-estrategia-completa btn btn-danger">Eliminar</a>
                      </div>

                    </li>
                    <% }) %>
                  </ul>
                  <% }else { %>
                  <h3 class="center">No hay ningun estrategia</h3>
                  <% } %>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                Otros
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- page-content" -->
  <div style="height: 0px; width: 0px;">
    <%- include('partials/barra-lateral.ejs', {nombre:usuario.nombre ,estrategias: estrategias}) %>
  </div>

<%- include('../views/editar-estrategia') %>
<a class="ir-arriba" javascript:void(0) title="Volver arriba">
  <span class="fa-stack">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
  </span>
</a>