<h2><%=nombrePagina %></h2>
<!-- sidebar-wrapper  -->
<main class="page-content">
  <div class="container">
    <!-- <h1><%=nombrePagina %></h1> -->
    <hr>
    <div style="height: 0px; width: 0px;">
      <%- include('partials/barra-lateral.ejs', {nombre:usuario.nombre ,estrategias: estrategias}) %>
    </div>
    <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
          aria-controls="pills-home" aria-selected="true">Datos Personales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
          aria-controls="pills-profile" aria-selected="false">Datos de Familiares Cercanos</a>
      </li>
    </ul>

    <hr>
    <div class="container">
      <div class="row">
        <div class="col-12 my-2">
          <form action="" method="POST">
            <div class="tab-content" id="pills-tabContent">
              <!-- INICIO DATOS PERFIL -->
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre"
                    value="<%=usuario.nombre%>">
                </div>
                <div class="form-group">
                  <label for="descripcion">Mi descripción</label>
                  <textarea class="form-control" name="descripcion"
                    placeholder="Ingrese descripcion"><%=usuario.descripcion%></textarea>
                </div>
                <div class="form-group">
                  <label for="nombre">Email</label>
                  <input type="text" class="form-control" id="email" placeholder="email" name="email"
                    value="<%=usuario.email%>">
                </div>
                <div class="form-group">
                  <label for="WhatsApp">WhatsApp (Opcional)</label>
                  <input type="number" class="form-control" id="whatsapp" placeholder="1234567890" name="whatsapp"
                    value="<%=usuario.whatsapp%>">
                </div>
                <div class="form-group">
                  <label for="cualidades">¿Cuáles son tus cualidades profesionales?</label>
                  <textarea type="text" class="form-control" id="cualidades" name="cualidades"
                    placeholder="Cualidades"></textarea>
                </div>
                <!-- <h5 class="text-center mb-3">¿En qué horario puedes atender a los usuarios?</h5>
                <div class="row">
                  <div class="col-md-4 pr-0">
                    <div class="form-group">
                      <input type="checkbox" name="lunes" id="lunes">
                      <label for="lunes">Lunes</label>
                    </div>
                    <div id="lunesTodo" class="text-center form-group" style="display: none;">
                      <input type="checkbox" name="24lunes" id="24lunes">
                      <label for="24lunes">Disponible las 24 horas</label>
                    </div>
                    <div id="horarioLunes" style="display: none;">
                      <div class="d-flex mb-2 form-inline">
                        <label class="ml-4">Hora de inicio</label>
                        <label class="ml-auto mr-5">Hora de termino</label>
                      </div>
                      <div class="form-group mb-0 text-center">
                        <div class="form-inline lunes1">
                          <input name="InicioLunes" class="mb-1" type="time">
                          <hr style="height: 1px; width: 5%; background-color: rgb(110, 109, 109);">
                          <input name="FinLunes" class="mb-1 mr-2" type="time">
                          <span id="btnEliminarLunes" style="display: none;" onclick="eliminarLunes(1);">
                            <i class="far fa-times-circle fa-2x"></i>
                          </span>                          
                        </div>
                        <div id="divHorariosLunes"></div>
                      </div>
                      <div class="text-center">
                        <span onclick="agregarLunes();" id="addLunes" class="btn btn-link ">Agregar otro horario</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="checkbox" name="martes" id="martes">
                      <label for="martes">Martes</label>
                    </div>
                    <div id="martesTodo" class="text-center form-group" style="display: none;">
                      <input type="checkbox" name="24martes" id="24martes">
                      <label for="24martes">Disponible las 24 horas</label>
                    </div>
                    <div id="horarioMartes" style="display: none;">
                      <div class="d-flex mb-2 form-inline">
                        <label class="ml-4">Hora de inicio</label>
                        <label class="ml-auto mr-5">Hora de termino</label>
                      </div>
                      <div class="form-group mb-0 text-center">
                        <div class="form-inline martes1">
                          <input name="InicioMartes" class="mb-1" type="time">
                          <hr style="height: 1px; width: 5%; background-color: rgb(110, 109, 109);">
                          <input name="FinMartes" class="mb-1 mr-2" type="time">
                          <span id="btnEliminarMartes" style="display: none;" onclick="eliminarMartes(1);">
                            <i class="far fa-times-circle fa-2x"></i>
                          </span>                          
                        </div>
                        <div id="divHorariosMartes"></div>
                      </div>
                      <div class="text-center">
                        <span onclick="agregarMartes();" id="addMartes" class="btn btn-link ">Agregar otro horario</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="checkbox" name="miercoles" id="miercoles">
                      <label for="miercoles">Miércoles</label>
                    </div>
                    <div id="miercolesTodo" class="text-center form-group" style="display: none;">
                      <input type="checkbox" name="24miercoles" id="24miercoles">
                      <label for="24miercoles">Disponible las 24 horas</label>
                    </div>
                    <div id="horarioMiercoles" style="display: none;">
                      <div class="d-flex mb-2 form-inline">
                        <label class="ml-4">Hora de inicio</label>
                        <label class="ml-auto mr-5">Hora de termino</label>
                      </div>
                      <div class="form-group mb-0 text-center">
                        <div class="form-inline miercoles1">
                          <input name="InicioMiercoles" class="mb-1" type="time">
                          <hr style="height: 1px; width: 5%; background-color: rgb(110, 109, 109);">
                          <input name="FinMiercoles" class="mb-1 mr-2" type="time">
                          <span id="btnEliminarMiercoles" style="display: none;" onclick="eliminarMiercoles(1);">
                            <i class="far fa-times-circle fa-2x"></i>
                          </span>                          
                        </div>
                        <div id="divHorariosMiercoles"></div>
                      </div>
                      <div class="text-center">
                        <span onclick="agregarMiercoles();" id="addMiercoles" class="btn btn-link ">Agregar otro horario</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="checkbox" name="jueves" id="jueves">
                      <label for="jueves">Jueves</label>
                    </div>
                    <div id="juevesTodo" class="text-center form-group" style="display: none;">
                      <input type="checkbox" name="24jueves" id="24jueves">
                      <label for="24jueves">Disponible las 24 horas</label>
                  </div>
                  <div id="horarioJueves" style="display: none;">
                      <div class="d-flex mb-2 form-inline">
                          <label class="ml-4">Hora de inicio</label>
                          <label class="ml-auto mr-5">Hora de termino</label>
                      </div>
                      <div class="form-group mb-0 text-center">
                          <div class="form-inline jueves1">
                              <input name="InicioJueves" class="mb-1" type="time">
                              <hr style="height: 1px; width: 5%; background-color: rgb(110, 109, 109);">
                              <input name="FinJueves" class="mb-1 mr-2" type="time">
                              <span id="btnEliminarJueves" style="display: none;" onclick="eliminarJueves(1);">
                                  <i class="far fa-times-circle fa-2x"></i>
                              </span>
                          </div>
                          <div id="divHorariosJueves"></div>
                      </div>
                      <div class="text-center">
                          <span onclick="agregarJueves();" id="addJueves" class="btn btn-link ">Agregar otro horario</span>
                      </div>
                  </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="checkbox" name="viernes" id="viernes">
                      <label for="viernes">Viernes</label>
                    </div>
                    <div id="viernesTodo" class="text-center form-group" style="display: none;">
                      <input type="checkbox" name="24viernes" id="24viernes">
                      <label for="24viernes">Disponible las 24 horas</label>
                  </div>
                  <div id="horarioViernes" style="display: none;">
                      <div class="d-flex mb-2 form-inline">
                          <label class="ml-4">Hora de inicio</label>
                          <label class="ml-auto mr-5">Hora de termino</label>
                      </div>
                      <div class="form-group mb-0 text-center">
                          <div class="form-inline viernes1">
                              <input name="InicioViernes" class="mb-1" type="time">
                              <hr style="height: 1px; width: 5%; background-color: rgb(110, 109, 109);">
                              <input name="FinViernes" class="mb-1 mr-2" type="time">
                              <span id="btnEliminarViernes" style="display: none;" onclick="eliminarViernes(1);">
                                  <i class="far fa-times-circle fa-2x"></i>
                              </span>
                          </div>
                          <div id="divHorariosViernes"></div>
                      </div>
                      <div class="text-center">
                          <span onclick="agregarViernes();" id="addViernes" class="btn btn-link ">Agregar otro horario</span>
                      </div>
                  </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="checkbox" name="sabado" id="sabado">
                      <label for="sabado">Sábado</label>
                    </div>
                    <div id="sabadoTodo" class="text-center form-group" style="display: none;">
                      <input type="checkbox" name="24sabado" id="24sabado">
                      <label for="24sabado">Disponible las 24 horas</label>
                  </div>
                  <div id="horarioSabado" style="display: none;">
                      <div class="d-flex mb-2 form-inline">
                          <label class="ml-4">Hora de inicio</label>
                          <label class="ml-auto mr-5">Hora de termino</label>
                      </div>
                      <div class="form-group mb-0 text-center">
                          <div class="form-inline sabado1">
                              <input name="InicioSabado" class="mb-1" type="time">
                              <hr style="height: 1px; width: 5%; background-color: rgb(110, 109, 109);">
                              <input name="FinSabado" class="mb-1 mr-2" type="time">
                              <span id="btnEliminarSabado" style="display: none;" onclick="eliminarSabado(1);">
                                  <i class="far fa-times-circle fa-2x"></i>
                              </span>
                          </div>
                          <div id="divHorariosSabado"></div>
                      </div>
                      <div class="text-center">
                          <span onclick="agregarSabado();" id="addSabado" class="btn btn-link ">Agregar otro horario</span>
                      </div>
                  </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="checkbox" name="domingo" id="domingo">
                      <label for="domingo">Domingo</label>
                    </div>
                    <div id="domingoTodo" class="text-center form-group" style="display: none;">
                      <input type="checkbox" name="24domingo" id="24domingo">
                      <label for="24domingo">Disponible las 24 horas</label>
                  </div>
                  <div id="horarioDomingo" style="display: none;">
                      <div class="d-flex mb-2 form-inline">
                          <label class="ml-4">Hora de inicio</label>
                          <label class="ml-auto mr-5">Hora de termino</label>
                      </div>
                      <div class="form-group mb-0 text-center">
                          <div class="form-inline domingo1">
                              <input name="InicioDomingo" class="mb-1" type="time">
                              <hr style="height: 1px; width: 5%; background-color: rgb(110, 109, 109);">
                              <input name="FinDomingo" class="mb-1 mr-2" type="time">
                              <span id="btnEliminarDomingo" style="display: none;" onclick="eliminarDomingo(1);">
                                  <i class="far fa-times-circle fa-2x"></i>
                              </span>
                          </div>
                          <div id="divHorariosDomingo"></div>
                      </div>
                      <div class="text-center">
                          <span onclick="agregarDomingo();" id="addDomingo" class="btn btn-link ">Agregar otro horario</span>
                      </div>
                  </div>
                  </div>
                </div> -->
              </div>
              <!-- FIN DATOS PERFIL -->

              <!-- INICIO DATOS GENERALES -->
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="genero">Género</label>
                    <select id="genero" class="form-control" name="genero">
                      <% if(usuario.genero == '') {%>
                      <option value="">--Selecciona una opcion--</option>
                      <option value="1">Masculino</option>
                      <option value="2">Femenino</option>
                      <option value="3">No quiero especificarlo</option>
                      <% } else {
                                  if (usuario.genero == 1){
                                  %> <option value="">--Selecciona una opcion--</option>
                      <option value="1" selected>Masculino</option>
                      <option value="2">Femenino</option>
                      <option value="3">No quiero especificarlo</option><%
                                  } else {
                                    if (usuario.genero == 2){
                                    %><option value="1">Masculino</option>
                      <option value="2" selected>Femenino</option>
                      <option value="3">No quiero especificarlo</option><%
                                    } else {
                                    %><option value="1">Masculino</option>
                      <option value="2">Femenino</option>
                      <option value="3" selected>No quiero especificarlo</option><%
                                    }
                                  }
                                }
                                %>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="fechanacimiento">Fecha de nacimiento</label>
                    <input type="date" class="form-control" name="fechanacimiento" id="fechanacimiento"
                      value="<%=usuario.fechanacimiento %>">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="ocupacion">Ocupación</label>
                    <input type="text" class="form-control" name="ocupacion" id="ocupacion"
                      placeholder="Ej. Obrero, Ingeniero, Doctor" value="<%=usuario.ocupacion %>">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" name="direccion"
                      placeholder="Ej. Miguel Bravo #123 Bella Vista" value="<%=usuario.direccion %>">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="discapacidad">Discapacidad</label>
                    <select id="discapacidad" class="form-control" name="discapacidad">
                      <% if(usuario.discapacidad == '') {%>
                      <option value="">--Selecciona una opción--</option>
                      <option value="1">Si</option>
                      <option value="2">No</option>
                      <% } else {
                                  if (usuario.discapacidad == '1') {
                                    %><option value="1" selected>Si</option>
                      <option value="2">No</option><%
                                  } else {
                                    %><option value="1">Si</option>
                      <option value="2" selected>No</option><%
                                  }
                                } %>
                    </select>
                  </div>

                  <div class="form-group col-md-3">
                    <label for="telefono">Teléfono</label>
                    <input type="number" class="form-control" id="telefono" name="telefono" placeholder="111-111-1111"
                      value="<%=usuario.telefono %>">
                  </div>
                </div>
              </div>
              <!-- FIN DATOS PERFIL -->
            </div>
            <input type="submit" value="Guardar Información" class="btn btn-primary mb-4 float-right">
          </form>
        </div>
      </div>
    </div>
  </div>
</main>