<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="SHORTCUT ICON" href="/img/logo.png">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <!--Estilos de letras-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Staatliches&display=swap" rel="stylesheet">
    <!--SweetAlert-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">
    <!--Bootstrap-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/css/app.css">    
    <link rel="stylesheet" href="/css/easy-autocomplete.min.css">

    <title>Affectus - <%=nombrePagina%></title>

</head>

<body>
    <header>
        <% if(locals.usuario.id) { %>
        <%- include('partials/nav-autenticado.ejs') %>
        <% }else { %>
        <%- include('partials/nav-no-autenticado.ejs', {usuario: locals.usuario}) %>
        <% } %>
    </header>

    <% if(locals.mensajes) { %>
    <% const categoria = Object.keys(locals.mensajes) %>
    <% if(categoria.length) { %>
    <% locals.mensajes[categoria].forEach(alerta => { %>
    <div class="alertas">
        <p class="alerta <%= categoria %>"><%= alerta %></p>
    </div>
    <% }) %>
    <% } %>
    <% } %>
    <%- body %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>
    <!--<script src="/js/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
    <!--<script src="/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.3/qs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="/js/app.js"></script>
    <script src="https://kit.fontawesome.com/734bb397fc.js"></script><!-- Latest compiled and minified CSS -->
    <script src="/js/jquery.easy-autocomplete.min.js"></script>
</body>

</html>