<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/perfil.css">
</head>

<body>
  <a class="ir-arriba" javascript:void(0) title="Volver arriba">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <div style="height: 0px; width: 0px;">
    <%- include('partials/barra-lateral.ejs', {nombre:usuario.nombre,estrategias: estrategias, citas}) %>
  </div>
  <div class="container">
    <!--Encabezado-->
    <div class="perfilEncabezado efectoPerfil form-inline mt-3 d-flex py-3">
      <div class="ml-2 mx-auto" style="height: 132px; width: 132px;">
        <% if (userPerfil.email == usuario.email) { %>
        <a href="/imagen-perfil">
          <% if(userPerfil.imagen) { %>
          <% if(userPerfil.estadoActual == '0') { %>
          <img loading="lazy" class="rounded-circle borderConectado" src="/uploads/usuarios/<%=userPerfil.imagen %>"
            alt="Foto de usuario" />
          <% }  else { %>
          <% if (userPerfil.estadoActual == '1') { %>
          <img loading="lazy" class="rounded-circle borderAusente" src="/uploads/usuarios/<%=userPerfil.imagen %>"
            alt="Foto de usuario" />
          <% } else { %>
          <img loading="lazy" class="rounded-circle borderNoDisponible" src="/uploads/usuarios/<%=userPerfil.imagen %>"
            alt="Foto de usuario" />
          <% } %>
          <% } %>
          <% }else { %>
          <% if(userPerfil.estadoActual == '0') {%>
          <img loading="lazy" class="rounded-circle borderConectado" src="/img/perfilDefault.png" alt="Foto Usuario" />
          <% }  else { %>
          <% if (userPerfil.estadoActual == '1') { %>
          <img loading="lazy" class="rounded-circle borderAusente" src="/img/perfilDefault.png" alt="Foto Usuario" />
          <%} else {%>
          <img loading="lazy" class="rounded-circle borderNoDisponible" src="/img/perfilDefault.png"
            alt="Foto Usuario" />
          <%} %>
          <% } %>
          <% } %>
        </a>
        <% } else { %>
        <% if(userPerfil.imagen) { %>
        <% if(userPerfil.estadoActual == '0') { %>
        <img loading="lazy" class="rounded-circle borderConectado" src="/uploads/usuarios/<%=userPerfil.imagen %>"
          alt="Foto de usuario" />
        <%}  else {
            if (userPerfil.estadoActual == '1') {
              %><img loading="lazy" class="rounded-circle borderAusente"
          src="/uploads/usuarios/<%=userPerfil.imagen %>" alt="Foto de usuario" /><%
            } else {
              %><img loading="lazy" class="rounded-circle borderNoDisponible"
          src="/uploads/usuarios/<%=userPerfil.imagen %>" alt="Foto de usuario" /><%
            }
          } %>
        <% }else { %>
        <% if(userPerfil.estadoActual == '0') {
            %><img loading="lazy" class="rounded-circle borderConectado" src="/img/perfilDefault.png"
          alt="Foto Usuario" /><%
          }  else {
            if (userPerfil.estadoActual == '1') {
              %><img loading="lazy" class="rounded-circle borderAusente" src="/img/perfilDefault.png"
          alt="Foto Usuario" /><%
            } else {
              %><img loading="lazy" class="rounded-circle borderNoDisponible" src="/img/perfilDefault.png"
          alt="Foto Usuario" /><%
            }
          } %>
        <% } %>
        <%
        } %>

      </div>
      <div class="mx-auto">
        <h1 class="text-center"><%=userPerfil.nombre%> <%=userPerfil.aPaterno%></h1>
        <h6 class="text-center"><%= userPerfil.email %> </h6>
        <h6 class="text-center font-italic"><%= userPerfil.descripcion %> </h6>
      </div>

      <div class="mx-auto text-center">
        <% if(userPerfil.rol == 0) { %>
        <h4 class="text-center">Administrador</h4>
        <% }else { %>
        <% if (userPerfil.rol == 1){ %>
        <h4 class="text-center">Usuario</h4>
        <% }else { %>
        <h4 class="text-center">Profesional</h4>
        <% if (userPerfil.email == usuario.email) {
            %><a href="/nueva-estrategia" class="btn btn-success mr-2">Agregar Recurso</a>
            <!--aqui esta el boton para mineria de datos-->
            <a href="/nuevo-csv" class="btn btn-primary mr-2">subir CSV</a>
            <a href="/editar-perfil" class="btn btn-info">Editar Perfil</a>

        <%} %>
         <%if (userPerfil.estadoActual == '0') {%>
          <% if (userPerfil.email != usuario.email) { %>
            <hr><button class="btn btn-primary">Contactar</button>
          <% } %>        
        <%} else {%>
          <% if (userPerfil.email != usuario.email) { %>
            <hr><button class="btn btn-primary" disabled>Contactar</button>
          <% } %> 
        <%} %>
        <% if (userPerfil.email != usuario.email) { %>
          <button class="btn btn-danger ml-2" id="reportePerfil" value="<%=usuario.id%>" name="<%=userPerfil.email%>">Reportar</button>
          <% } %>         
        <% } %>
        <% } %>
      </div>
    </div>
    <!--Fin del excabezado-->
    <!--Horarios de atención-->
    <% if (userPerfil.rol == 2) {
      %>
    <div class="perfilEncabezado efectoPerfil mt-3 p-3">
      <div class="d-flex">
        <div class="mx-auto text-center">
          <h4>Horarios de atención</h4>
          <h6>Representado en 24 horas</h6>
        </div>
      </div>
      <div class="row bg-light mx-2">
        <div class="col-md-2 bg-dark rounded">
          <div class="text-white text-center px-1 border-light border-bottom">
            <h6 class="px-3 pt-1 font-weight-bold">Domingo</h6>
            <% if (horario) {
              if (horario.domingo == 'on') {
              if (horario.domingocompleto == 'on') {
                %><p>00:00 a.m. - 23:59 p.m.</p><%
              } else {
                let dom = 0;
                do {
                  %><p><%=horario.InicioDomingo[dom]%> - <%=horario.FinDomingo[dom]%></p><%  
                  dom++;
                } while (horario.InicioDomingo.length > dom);
              }
            } else {
              %><p>No disponible</p><%
            }
            } else {
              %><p>No disponible</p><%
            }
             %>
          </div>

          <div class="mx-auto text-white text-center px-1">
            <h6 class="px-3 pt-1 font-weight-bold">Sabado</h6>
            <% if (horario) {
              if (horario.sabado == 'on') {
              if (horario.sabadocompleto == 'on') {
                %><p>00:00 a.m. - 23:59 p.m.</p><%
              } else {
                let sab = 0;
                do {
                  %><p><%=horario.InicioSabado[sab]%> - <%=horario.FinSabado[sab]%></p><%  
                  sab++;
                } while (horario.InicioSabado.length > sab);
              }
            } else {
              %><p>No disponible</p><%
            }
            } else {
              %><p>No disponible</p><%
            }
              %>
          </div>
        </div>

        <div class="col-md-2 rounded border-bottom">
          <div class="mx-auto text-center px-1">
            <h6 class="pt-1 font-weight-bold">Lunes</h6>
            <% if (horario) {
              if (horario.lunes == 'on') {
              if (horario.lunescompleto == 'on') {
                %><p>00:00 a.m. - 23:59 p.m.</p><%
              } else {
                let lun = 0;
                do {
                  %><p><%=horario.InicioLunes[lun]%> - <%=horario.FinLunes[lun]%></p><%  
                  lun++;
                } while (horario.InicioLunes.length > lun); 
              }
            } else {
              %><p>No disponible</p><%
            }
            } else {
              %><p>No disponible</p><%
            }
             %>
          </div>
        </div>

        <div class="col-md-2 rounded border-bottom">
          <div class="mx-auto text-center px-1">
            <h6 class="pt-1 font-weight-bold">Martes</h6>
            <% if (horario) {
              if (horario.martes == 'on') {
              if (horario.martescompleto == 'on') {
                %><p>00:00 a.m. - 23:59 p.m.</p><%
              } else {
                let mar = 0;
                do {
                  %><p><%=horario.InicioMartes[mar]%> - <%=horario.FinMartes[mar]%></p><%  
                  mar++;
                } while (horario.InicioMartes.length > mar);  
              }
            } else {
              %><p>No disponible</p><%
            }
            } else {
              %><p>No disponible</p><%
            }
             %>
          </div>
        </div>

        <div class="col-md-2 rounded border-bottom">
          <div class="mx-auto text-center px-1">
            <h6 class="pt-1 font-weight-bold">Miércoles</h6>
            <% if (horario) {
              if (horario.miercoles == 'on') {
              if (horario.miercolescompleto == 'on') {
                %><p>00:00 a.m. - 23:59 p.m.</p><%
              } else {
                let mie = 0;
                do {
                  %><p><%=horario.InicioMiercoles[mie]%> - <%=horario.FinMiercoles[mie]%></p><%  
                  mie++;
                } while (horario.InicioMiercoles.length > mie);                
              }
            } else {
              %><p>No disponible</p><%
            }
            } else {
              %><p>No disponible</p><%
            }
             %>
          </div>
        </div>

        <div class="col-md-2 rounded border-bottom">
          <div class="mx-auto text-center px-1">
            <h6 class="pt-1 font-weight-bold">Jueves</h6>
            <% if (horario) {
              if (horario.jueves == 'on') {
              if (horario.juevescompleto == 'on') {
                %><p>00:00 a.m. - 23:59 p.m.</p><%
              } else {
                let jue = 0;
                do {
                  %><p><%=horario.InicioJueves[jue]%> - <%=horario.FinJueves[jue]%></p><%  
                  jue++;
                } while (horario.InicioJueves.length > jue); 
              }
            } else {
              %><p>No disponible</p><%
            }
            } else {
              %><p>No disponible</p><%
            }
             %>
          </div>
        </div>

        <div class="col-md-2 rounded">
          <div class=" mx-auto text-center px-1">
            <h6 class="pt-1 font-weight-bold">Viernes</h6>
            <% if (horario) {
              if (horario.viernes == 'on') {
              if (horario.viernescompleto == 'on') {
                %><p>00:00 a.m. - 23:59 p.m.</p><%
              } else {
                let vie = 0;
                do {
                  %><p><%=horario.InicioViernes[vie]%> - <%=horario.FinViernes[vie]%></p><%  
                  vie++;
                } while (horario.InicioViernes.length > vie); 
              }
            } else {
              %><p>No disponible</p><%
            }
            } else {
              %><p>No disponible</p><%
            }
             %>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <!--Fin de Horario de atención-->

    <!--Inicio de bordes-->
    <div class="row mb-5">
      <div class="col-md-6 mt-3">
        <!--Inicio de Información personal-->
        <div class="py-3 efectoPerfil">
          <h4 class="text-center font-weight-bold">Información Personal</h4>
          <div class="row">
            <!--Columna izquierda-->
            <div class="col-md-6">
              <div class="d-flex mt-3">
                <% if (userPerfil.genero == 1) {
              %><div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/male-solid.svg" alt="Imagen hombre" height="30" width="30">
                </div>
                <h6 class="ml-4 pt-1">Hombre</h6><%
            } else {
              if (userPerfil.genero == 2) {
                %><div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/female-solid.svg" alt="Imagen hombre" height="30" width="30">
                </div>
                <h6 class="ml-4 pt-1">Mujer</h6><%
              } else {
                %><div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/venus-mars-solid.svg" alt="Imagen hombre" height="30" width="30">
                </div>
                <h6 class="ml-4 pt-1">Género sin especificar</h6><%
              }
            }
          %>
              </div>

              <div class="d-flex mt-3">
                <div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/briefcase-solid.svg" alt="Imagen hombre" height="30" width="30">
                </div>
                <% if (userPerfil.ocupacion == '' || !userPerfil.ocupacion){
                    %><h6 class="ml-4 pt-1">Ocupación no disponible</h6><%
                  } else {
                    %><h6 class="ml-4 pt-1"><%=userPerfil.ocupacion%></h6><%
                  } %>
              </div>

              <div class="d-flex mt-3">
                <div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/map-marker-alt-solid.svg" alt="Imagen hombre" height="30" width="30">
                </div>
                <% if (userPerfil.nacionalidad == '' || !userPerfil.nacionalidad){
                    %><h6 class="ml-4 pt-1">Nacionalidad no disponible</h6><%
                  } else {
                    %><h6 class="ml-4 pt-1"><%=userPerfil.nacionalidad%></h6><%
                  } %>
              </div>

              <% if (userPerfil.rol == 1) {
                %>
              <div class="d-flex mt-3">
                <div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/familiar.svg" alt="Imagen hombre" height="30" width="30">
                </div>
                <% if (userPerfil.familiarEnfermedad == '' || !userPerfil.familiarEnfermedad){
                    %><h6 class="ml-4 pt-1">Sin enfermedades hereditarias</h6><%
                  } else {
                    %><h6 class="ml-4 pt-1"><%=userPerfil.familiarEnfermedad%></h6><%
                  } %>
              </div>

              <div class="d-flex mt-3">
                <div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/enfermedadPersonal.svg" alt="Imagen hombre" height="30" width="30">
                </div>
                <% if (userPerfil.enfermedadPersonal == '' || !userPerfil.enfermedadPersonal){
                    %><h6 class="ml-4 pt-1">Sin enfermedades personales</h6><%
                  } else {
                    %><h6 class="ml-4 pt-1"><%=userPerfil.enfermedadPersonal%></h6><%
                  } %>
              </div>

              <div class="d-flex mt-3">
                <div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/vivienda.svg" alt="Imagen hombre" height="30" width="30">
                </div>
                <% if (userPerfil.vivienda == '' || !userPerfil.vivienda){
                    %><h6 class="ml-4 pt-1">Sin datos de vivienda</h6><%
                  } else {
                    if (userPerfil.vivienda == 1) {
                      %><h6 class="ml-4 pt-1">Casa</h6><%  
                    } else {
                      %><h6 class="ml-4 pt-1">Departamento</h6><%
                    }                    
                  } %>
              </div>

              <div class="d-flex mt-3">
                <div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/alimentacion.svg" alt="Imagen hombre" height="30" width="30">
                </div>
                <% if (userPerfil.alimentacion == '' || !userPerfil.alimentacion){
                    %><h6 class="ml-4 pt-1">Sin datos de alimentación</h6><%
                  } else {
                    if (userPerfil.alimentacion == 1) {
                      %><h6 class="ml-4 pt-1">Su alimentación es mala</h6><%  
                    } else {
                      if (userPerfil.alimentacion == 2) {
                        %><h6 class="ml-4 pt-1">Su alimentación es regular</h6><%
                      } else {
                        %><h6 class="ml-4 pt-1">Su alimentación es buena</h6><%
                      }
                      
                    }                    
                  } %>
              </div>
              <%                
              } %>
            </div>
            <!--fin columna izquierda---->
            <!--Inicio columna derecha-->
            <div class="col-md-6">
              <div class="d-flex mt-3">
                <div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/calendar-alt-regular.svg" alt="Imagen hombre" height="30" width="30">
                </div>
                <h6 class="ml-4 pt-1"><%=userPerfil.fechanacimiento%></h6>
              </div>

              <div class="d-flex mt-3">
                <div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/lenguaje.svg" alt="Lenguaje" height="30" width="30">
                </div>
                <%
                let idiomas = '';
                if (userPerfil.idiomaEspanol == 1 ){
                   idiomas = 'Español';
                  }
                  
                  if (userPerfil.idiomaIngles == 1) {
                    idiomas += ' Inglés';
                  }
                  
                  if (userPerfil.idiomaFrances == 1) {
                    idiomas += ' Francés';
                  }

                  if (userPerfil.idiomaPortugues == 1) {
                    idiomas += ' Portugués';
                  }

                  if (userPerfil.idiomaItaliano == 1) {
                    idiomas += ' Italiano';
                  }

                  if (idiomas == '') {
                    %><h6 class="ml-4 pt-1">Idiomas no disponibles</h6><%
                  } else {
                    %><h6 class="ml-4 pt-1"><%=idiomas%></h6><%
                  }
                %>


              </div>

              <div class="d-flex mt-3">
                <div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/phone.svg" alt="Teléfono" height="30" width="30">
                </div>
                <% if (userPerfil.telefono == '' || !userPerfil.telefono){
                    %><h6 class="ml-4 pt-1">Teléfono no disponible</h6><%
                  } else {
                    %><h6 class="ml-4 pt-1"><%=userPerfil.telefono%></h6><%
                  } %>
              </div>

              <div class="d-flex mt-3">
                <div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/whatsapp-brands.svg" alt="WhatsApp" height="30" width="30">
                </div>
                <% if (userPerfil.whatsapp == '' || !userPerfil.whatsapp){
                    %><h6 class="ml-4 pt-1">WhatsApp no disponible</h6><%
                  } else {
                    %><h6 class="ml-4 pt-1"><%=userPerfil.whatsapp%></h6><%
                  } %>
              </div>

              <% if (userPerfil.rol == 1) {
                %>
              <div class="d-flex mt-3">
                <div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/discapacidad.svg" alt="Discapacidad height=" 30" width="30">
                </div>
                <% if (!userPerfil.discapacidad){
                    %><h6 class="ml-4 pt-1">Discapacidad no disponible</h6><%
                  } else {
                    if (userPerfil.discapacidad == '1') {
                    %><h6 class="ml-4 pt-1">Si</h6><%
                    } else {
                      %><h6 class="ml-4 pt-1">No</h6><%
                    }
                  } %>
              </div>

              <div class="d-flex mt-3">
                <div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/viviendo.svg" alt="Viviendo" height="30" width="30">
                </div>
                <% if (userPerfil.viviendo == '' || !userPerfil.viviendo){
                    %><h6 class="ml-4 pt-1">Sin datos de con quién vive</h6><%
                  } else {
                    if (userPerfil.viviendo == 1) {
                      %><h6 class="ml-4 pt-1">Vive solo</h6><%  
                    } else {
                      %><h6 class="ml-4 pt-1">Vive con familiares</h6><%
                    }                    
                  } %>
              </div>

              <div class="d-flex mt-3">
                <div class="ml-2 my-auto">
                  <img loading="lazy" src="/img/mascota.svg" alt="Mascotas" height="30" width="30">
                </div>
                <% if (userPerfil.mascota == '' || !userPerfil.mascota){
                    %><h6 class="ml-4 pt-1">Sin datos de mascota</h6><%
                  } else {
                    if (userPerfil.mascota == 1) {
                      %><h6 class="ml-4 pt-1">Tiene mascota(s)</h6><%  
                    } else {
                      %><h6 class="ml-4 pt-1">No tiene mascota(s)</h6><%
                    }                    
                  } %>
              </div>
              <%                
              } %>
            </div>
            <!--Fin columna derecha-->
          </div>
        </div>
        <!--Fin de información personal-->
        <!--Inicio de Información Profesional-->
        <% if (userPerfil.rol == 2) {
          %>
        <div class="py-3 efectoPerfil mt-3">
          <h4 class="text-center font-weight-bold">Información Profesional</h4>
          <h6 class="text-center font-weight-bold">Acerca de mi</h6>
          <% if (!userPerfil.aboutme || userPerfil.aboutme== '') {
            %>
          <p class="font-italic px-4 text-center">Aún no hay información acerca de <%=userPerfil.nombre%></p>
          <%
          } else {
            %>
          <p class="font-italic px-4 text-center"><%=userPerfil.aboutme %></p>
          <%
          } %>
          <hr>
          <h6 class="text-center font-weight-bold">Cualidades</h6>
          <% if (!userPerfil.cualidades || userPerfil.cualidades== '') {
            %>
          <p class="font-italic px-4 text-center">Aún no hay información acerca de <%=userPerfil.nombre%></p>
          <%
          } else {
            %>
          <p class="font-italic px-4 text-center"><%=userPerfil.cualidades %></p>
          <%
          } %>
        </div>
        <%
        } %>
        <!--Fin de Información Profesional-->
      </div>
      <div class="col-md-6">
        <!--Inicio de Estadisticas-->
        <div class="py-3 efectoPerfil mt-3">
          <div class="form-inline mx-2">
            <h4 class="mx-auto font-weight-bold">Estadísticas</h4>
            <a class="ml-auto mr-3" href="/mystatistics/<%=userPerfil.email %>">Ver Gráficas</a>
          </div>

          <% if (userPerfil.rol == 1) {
          %>

          <div class="row mt-2">
            <div class="col-md-2 text-center">
              <img loading="lazy" src="/img/sentimientos.svg" alt="Sentimientos" height="30" width="30">
            </div>
            <div class="col-md-3 text-center">
              <h6 class="mx-auto my-auto">Total de sentimientos</h6>
            </div>
            <div class="col-md-2 text-center">
              <p class="mx-auto my-auto"><%=sentimientos.length%></p>
            </div>
            <div class="col-md-5 text-center">
              <p class="ml-auto mr-4 my-auto">100%</p>
            </div>
          </div>

          <% if (sentimientos.length > 0) {
            let feliz = 0, triste = 0, enojado = 0, preocupado = 0, sorprendido = 0;
            let porFeliz, porTriste, porEnojado, porPreocupado, porSorprendido;
            sentimientos.forEach(sentimiento => {
              switch (sentimiento.sentimiento) {
                case 'Feliz':
                  feliz += 1
                  break;
                case 'Triste':
                  triste += 1
                  break;
                case 'Enojado':
                  enojado += 1
                  break;
                case 'Preocupado':
                  preocupado += 1
                  break;
                case 'Sorprendido':
                  sorprendido += 1
                  break;
              }
            });

            porFeliz = (feliz * 100) / sentimientos.length;
            porTriste = (triste * 100) / sentimientos.length;
            porEnojado = (enojado * 100) / sentimientos.length;
            porPreocupado = (preocupado * 100) / sentimientos.length;
            porSorprendido = (sorprendido * 100) / sentimientos.length;
              %>
          <div class="row mt-2">
            <div class="col-md-2 text-center">
              <img loading="lazy" src="/img/feliz.png" alt="Feliz" height="30" width="30">
            </div>
            <div class="col-md-3 text-center">
              <h6>Feliz</h6>
            </div>
            <div class="col-md-2 text-center">
              <p><%=feliz%></p>
            </div>
            <div class="col-md-5 text-center">
              <p><%=porFeliz%>%</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-center">
              <img loading="lazy" src="/img/triste.png" alt="Triste" height="30" width="30">
            </div>
            <div class="col-md-3 text-center">
              <h6>Triste</h6>
            </div>
            <div class="col-md-2 text-center">
              <p><%=triste%></p>
            </div>
            <div class="col-md-5 text-center">
              <p><%=porTriste%>%</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-center">
              <img loading="lazy" src="/img/enojada.png" alt="Triste" height="30" width="30">
            </div>
            <div class="col-md-3 text-center">
              <h6>Enojado</h6>
            </div>
            <div class="col-md-2 text-center">
              <p><%=enojado%></p>
            </div>
            <div class="col-md-5 text-center">
              <p><%=porEnojado%>%</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-center">
              <img loading="lazy" src="/img/preocupada.png" alt="Triste" height="30" width="30">
            </div>
            <div class="col-md-3 text-center">
              <h6>Preocupado</h6>
            </div>
            <div class="col-md-2 text-center">
              <p><%=preocupado%></p>
            </div>
            <div class="col-md-5 text-center">
              <p><%=porPreocupado%>%</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-center">
              <img loading="lazy" src="/img/sorprendida.png" alt="Triste" height="30" width="30">
            </div>
            <div class="col-md-3 text-center">
              <h6>Sorprendido</h6>
            </div>
            <div class="col-md-2 text-center">
              <p><%=sorprendido%></p>
            </div>
            <div class="col-md-5 text-center">
              <p><%=porSorprendido%>%</p>
            </div>
          </div>
          <%
            } %>
          <% } else {
            if (userPerfil.rol == 2) {
              %>
          <div class="row border-bottom mx-3">
            <div class="col-md-6  bg-gris d-flex">
              <p class="my-auto mx-auto font-weight-bold">Total de publicaciones</p>
            </div>
            <div class="col-md-2 bg-gris d-flex">
              <p class="my-auto mx-auto font-weight-bold"><%=estrategias.length%></p>
            </div>
            <div class="col-md-4 bg-gris d-flex">
              <p class="my-auto mx-auto font-weight-bold">100%</p>
            </div>
          </div>
          <% categorias.forEach(categoria => { %>
          <div class="row border-bottom mx-3">
            <div class="col-md-6 d-flex">
              <p class="my-auto mx-auto font-italic"><%=categoria.nombre %></p>
            </div>
            <div class="col-md-2 d-flex">
              <% let variable = 0;
              estrategias.forEach(nombre => {
                if (nombre.categoria.nombre == categoria.nombre) {
                  variable++;
                }
              }); 
              let porcentaje = (variable * 100) / estrategias.length;
              %>
              <p class="my-auto mx-auto font-italic"><%=variable%></p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="my-auto mx-auto font-italic"><%=porcentaje %>%</p>
            </div>
          </div>
          <% }); %>
          <% }
          } %>
        </div>
        <!--Fin de Estadisticas-->

        <% estrategias.forEach(estrategia => { %>
        <% if (estrategia.usuario.email == userPerfil.email) { %>
        <div class="mt-3">
          <%- include('partials/card-recurso.ejs', {estrategia: estrategia}) %>
        </div>
        <% } %>
        <% }) %>
      </div>
    </div>
  </div>
  <!--Fin de bordes-->
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="/js/perfil.js"></script>
</body>

</html>